<div class="row">
<div class="col-10 mx-auto mt-4">

	<div class="card">
	<div class="card-body p-5">

		<h2 class="mb-4 card-title">お問い合わせフォームを送信いたしました。</h2>

		<p>ご入力頂きましたメールアドレスに受付完了のメールを送信いたしました。</p>
		<p>近日中にご返信させて頂きますので、今しばらくお待ちくださいませ。</p>

		<%= link_to "トップに戻る", root_path, class: "btn btn-md btn-primary col-2" %>

	</div>
	</div>

</div>
</div>