<p><%= @contact.name %> 様</p>

<p>当サイトをご利用いただきありがとうございます。</br>
下記、お問い合わせ内容を受け付けいたしました。</br>
2~3営業日以内に、こちらのメールアドレス宛にご返信させて頂きます。
</p>

<P>お問い合わせ内容</P>
<P>カテゴリ：<%= @contact.category %></P>
<P>内容：<%= @contact.content %></P>

<p>our sdgs</p>