<div class="row">
<div class="col-10 mx-auto mt-4">

	<div class="card">
	<div class="card-body p-5">

		<h2 class="mb-4 card-title">退会手続きが完了いたしました。</h2>

		<p>ご利用ありがとうございました。</p>
		<p>退会後も投稿はご覧になれます。引き続きお楽しみ下さい。</p>

		<%= link_to "トップに戻る", root_path, class: "btn btn-md btn-primary col-2" %>

	</div>
	</div>

</div>
</div>