<div class="row">

	<div class="col-3">
		<%= render 'public/users/mypage_side', user: @user  %>
	</div>

	<div class="col-9">
		<h1>My Page</h1>




 <a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
   <%= attachment_image_tag(current_user, :image, :fill, 50, 50, fallback: "no_image.jpg", size:"50x50", class: "d-flex mr-3 rounded img-fluid") %>  </a>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle"
          type="button" id="dropdownMenu1" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
    	<%= current_user %>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <a class="dropdown-item" href="#!">Action</a>
    <a class="dropdown-item" href="#!">Another action</a>
  </div>
</div>






	</div>

</div>


 